<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-toolbar>
      <span>Dashboard</span>
    </mat-toolbar>
    <mat-nav-list>
      <!-- Add your sidebar items here -->
      <a mat-list-item href="#">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item href="#">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My Application</span>
      <span class="toolbar-spacer"></span>
      <mat-slide-toggle (change)="toggleDarkTheme($event.checked)">
        Dark Mode
      </mat-slide-toggle>
    </mat-toolbar>

    <!-- Main content -->
    <div class="content">
      <h1 class="text-3xl font-bold underline">
        Hello world!
      </h1>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
