<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
        <mat-toolbar>
            <span>Course Platform</span>
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/dashboard">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </a>
            <a mat-list-item routerLink="/courses">
                <mat-icon>school</mat-icon>
                <span>Cursos</span>
            </a>
            <!-- <a mat-list-item routerLink="/students">
                <mat-icon>people</mat-icon>
                <span>Material</span>
            </a> -->
            <a mat-list-item routerLink="/assignments">
                <mat-icon>assignment</mat-icon>
                <span>Tareas</span>
            </a>
            <a mat-list-item routerLink="/analytics">
                <mat-icon>analytics</mat-icon>
                <span>Analiticas</span>
            </a>
            <a mat-list-item routerLink="/settings">
                <mat-icon>settings</mat-icon>
                <span>Configuracion</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Course Dashboard</span>
            <span class="toolbar-spacer"></span>
            <button mat-icon-button>
                <mat-icon>notifications</mat-icon>
            </button>

            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Mi perfil</button>
                <button (click)="logout()" mat-menu-item>Cerrar sesión</button>
            </mat-menu>

            <mat-slide-toggle (change)="toggleDarkTheme($event.checked)">
                Color
            </mat-slide-toggle>
        </mat-toolbar>

        <!-- This is the critical part that was missing -->
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>