@use '@angular/material' as mat;

@include mat.core();

// Define light theme
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$violet-palette,
    tertiary: mat.$azure-palette,
  ),
  typography: (
    brand-family: 'Roboto',
    bold-weight: 700
  ),
  density: (
    scale: -1
  )
));

// Define dark theme
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$red-palette,
    tertiary: mat.$azure-palette,
  ),
  typography: (
    brand-family: 'Roboto',
    bold-weight: 700
  ),
  density: (
    scale: -1
  )
));

// Base styles
body {
  height: 100%;
  @include mat.all-component-themes($light-theme); // Include all component themes once
}

body.dark-theme {
  @include mat.all-component-themes($dark-theme); // Include all component themes once
}

.sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}