@use '@angular/material' as mat;

@include mat.core();

// Define light theme
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$violet-palette,
    tertiary: mat.$azure-palette,
  ),
  typography: (
    brand-family: 'Roboto',
    bold-weight: 700
  ),
  density: (
    scale: -1
  )
));

// Define dark theme
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$red-palette,
    tertiary: mat.$azure-palette,
  ),
  typography: (
    brand-family: 'Roboto',
    bold-weight: 700
  ),
  density: (
    scale: -1
  )
));

// Base styles
body{ 
  height: 100%; 
  @include mat.core-theme($light-theme);
  @include mat.button-theme($light-theme); // especificos
  @include mat.all-component-themes($light-theme); // todos los componentes
  @include mat.checkbox-typography($light-theme);
}


body.dark-theme {
    @include mat.all-component-themes($dark-theme); // todos los componentes
  --background-color: #000000;
  --surface-color: #1e1e1e;
  --text-color: #ffffff;
  --primary-color: #7b1fa2;
  --secondary-color: #ff4081;
  --sidenav-background: #1e1e1e;
  --card-background: #242424;
  --hover-color: rgba(255, 255, 255, 0.08);
}
